:root {
    --clr-bg: hsla(0, 0%, 7%, 100%);
    --clr-gray: hsla(0, 0%, 25%, 100%);
    --clr-font-bg: hsla(0, 0%, 8.5%, 100%);
    --clr-font-nrml: hsla(0, 0%, 60%, 100%);
    --clr-font-hvr: hsla(0, 0%, 100%, 100%);
    --trans-hvr: 0.3s ease 0s;
    --trans-fade: 1s cubic-bezier(1,0,1,1) 0.5s;
    --trans-dscrt: 1s allow-discrete;
    --ani-bg: 3s ease 1.5s forwards;
    --ani-h1: 1s cubic-bezier(1,0,1,1) 0.5s forwards;
    --ani-navi: 6s ease 2s forwards;
}
@font-face {
    font-family:federo;
    src:url(../font/federo.ttf);
    font-display:swap;
}
@font-face {
    font-family:amanojaku;
    src:url(../font/amanojaku.otf);
    font-display:swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: var(--clr-bg);
    scroll-behavior: smooth;
    font-size: 100%;
}
body {
    text-align: center;
}
h1, h2, h3, h4, h5, h6, p, a, :required {
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    font-family: federo;
    text-decoration: none;
    color: var(--clr-font-nrml);
}
main {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    &:after {
        content: "zqbix";
        position: fixed;
        font-style: italic;
        font-weight: 400;
        font-size: 12vh;
        font-family: amanojaku;
        color: var(--clr-bg);
        white-space: nowrap;
        transform: translate(-20px,-20px);
        z-index: -1;
        animation: bg var(--ani-bg);
    }
    & > header {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        & > h1 {
            font-size: 5rem;
            font-family: amanojaku;
            letter-spacing: 7rem;
            cursor: default;
            color: var(--clr-bg);
            animation: h1 var(--ani-h1);
        }
    }
    & > div {
        width: 100%;
        height: 5px;
    }
    & > nav {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        opacity: 0;
        animation: navi var(--ani-navi);
        & > button {
            margin: 0 5px;
            padding: 20px 15px;
            background-color: transparent;
            border-top: 1px solid var(--clr-gray);
            border-right: 1px solid transparent;
            border-bottom: 1px solid transparent;
            border-left: 1px solid transparent;
            overflow: hidden;
            cursor: pointer;
            outline: none;
            transition: padding-left var(--trans-hvr), padding-right var(--trans-hvr), border-top var(--trans-hvr);
            &:hover {
                padding-left: 30px;
                padding-right: 30px;
                border-top: 1px solid var(--clr-font-nrml);
            }
        }
    }
}
[popover] {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 0;
    background-color: var(--clr-bg);
    opacity: 0;
    transition: all var(--trans-dscrt);
    &:popover-open {
        opacity: 1;
        @starting-style {
            opacity: 0;
        }
    }
    & > div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: opacity var(--trans-fade);
        @starting-style {
            opacity: 0;
        }
        & > section > button {
            width: 100%;
            padding: 0 20px 20px 0;
            background-color: transparent;
            cursor: pointer;
            border: 0;
            outline: none;
            text-align: right;
            & > p {
                font-size: 2rem;
                color: var(--clr-gray);
                transition: font-weight var(--trans-hvr), color var(--trans-hvr);
                &:hover {
                    font-weight: 900;
                    color: var(--clr-font-hvr);
                }
            }
        }
        & > section[class="reel"] {
            width: 100%;
            max-width: 1280px;
            & > video {
                width: 100%;
                max-width: 1280px;
                aspect-ratio: 16/9;
            }
        }
        & > section[class="dump"] {
            width: 100%;
            max-width: 400px;
            & > h2 {
                font-size: 2.2rem;
            }
            & > :is(p, a) {
                line-height: 150%;
                letter-spacing: 1px;
                word-spacing: 2px;
            }
            & > a {
                transition: color var(--trans-hvr);
                &:hover {
                    color: var(--clr-font-hvr);
                }
            }
        }
        & > section[class="contact"] {
            width: 100%;
            max-width: 960px;
            & > form {
                width: 100%;
                padding: 15px;
                border: 1px solid var(--clr-gray);
                overflow: hidden;
                & > textarea {
                    margin: 15px 0;
                    height: 150px;
                }
                & > :is(input, textarea) {
                    width: 100%;
                    padding: 15px;
                    background-color: transparent;
                    border: 1px solid transparent;
                    border-left: 1px solid var(--clr-gray);
                    resize: vertical;
                    overflow: hidden;
                    outline: none;
                    transition: border var(--trans-hvr);
                    &:is(:hover, :focus) {
                        border: 1px solid var(--clr-gray);
                    }
                    &:required {
                        letter-spacing: 1px;
                        word-spacing: 2px; 
                    }
                }
                & > button {
                    width: 100%;
                    padding: 15px;
                    background-color: transparent;
                    border: 1px solid var(--clr-gray);
                    overflow: hidden;
                    cursor: pointer;
                    outline: none;
                    transition: color var(--trans-hvr), border var(--trans-hvr);
                    &:hover {
                        color: var(--clr-font-hvr);
                        border: 1px solid var(--clr-font-nrml);
                    }
                    & > p {
                        letter-spacing: 1px;
                        word-spacing: 2px;
                    }
                }
            }
        }
    }
}
@keyframes bg {
    0% { color: var(--clr-bg); }
    10% { color: var(--clr-gray); }
    100% { color: var(--clr-bg); }
}
@keyframes h1 {
    0% { color: var(--clr-bg); letter-spacing: 7rem; }
    50% { color: var(--clr-font-bg); }
    100% { color: var(--clr-font-nrml); letter-spacing: 1rem; }
}
@keyframes navi {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@media (max-width: 480px) {
    main:after {
        font-size: 120vh;
    }
    main > header {
        padding-top: 15vh;
    }
    main > div {
        height: 100%;
    }
    main > nav {
        flex-direction: column;
    }
    main > nav > button {
        width: 100%;
        min-height: 48px;
    }
}