:root {
    --clr-bg: hsla(0, 0%, 7%, 100%);
    --clr-gray: hsla(0, 0%, 25%, 100%);
    --clr-font-bg: hsla(0, 0%, 8.5%, 100%);
    --clr-font-nrml: hsla(0, 0%, 60%, 100%);
    --clr-font-hvr: hsla(0, 0%, 100%, 100%);
    --trans-hvr: 0.3s ease 0s;
    --trans-hvr2: .6s cubic-bezier(.25,.8,.25,1) 0s;
    --trans-fade: 1s cubic-bezier(1,0,1,1) 0.5s;
    --trans-dscrt: 1s allow-discrete;
    --ani-bg: 3s ease 1.5s forwards;
    --ani-h1: 1s cubic-bezier(1,0,1,1) 0.5s forwards;
    --ani-navi: 6s ease 2s forwards;
}
@font-face {
    font-family:federo;
    src:url(../font/federo.ttf);
    font-display:swap;
}
@font-face {
    font-family:amanojaku;
    src:url(../font/amanojaku.otf);
    font-display:swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: var(--clr-bg);
    scroll-behavior: smooth;
    font-size: 100%;
}
body {
    text-align: center;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p, a, :required {
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    font-family: federo;
    text-decoration: none;
    color: var(--clr-font-nrml);
}
main {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    &:after {
        content: "zqbix";
        position: fixed;
        font-style: italic;
        font-weight: 400;
        font-size: 12vh;
        font-family: amanojaku;
        color: var(--clr-bg);
        white-space: nowrap;
        transform: translate(-20px,-20px);
        z-index: -1;
        animation: bg var(--ani-bg);
    }
    & > header {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        & > h1 {
            font-size: 5rem;
            line-height: 100%;
            font-family: amanojaku;
            letter-spacing: 7rem;
            cursor: default;
            color: var(--clr-bg);
            animation: h1 var(--ani-h1);
        }
    }
    & > div {
        width: 100%;
        height: 5px;
    }
    & > nav {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        opacity: 0;
        animation: navi var(--ani-navi);
        & > button {
            margin: 0 5px;
            padding: 20px 15px;
            background-color: transparent;
            border-top: 1px solid var(--clr-gray);
            border-right: 1px solid transparent;
            border-bottom: 1px solid transparent;
            border-left: 1px solid transparent;
            overflow: hidden;
            cursor: pointer;
            outline: none;
            transition: padding-left var(--trans-hvr), padding-right var(--trans-hvr), border-top var(--trans-hvr);
            &:is(:hover, :focus) {
                padding-left: 30px;
                padding-right: 30px;
                border-top: 1px solid var(--clr-font-nrml);
            }
        }
    }
}
[popover] {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 0;
    background-color: var(--clr-bg);
    opacity: 0;
    transition: all var(--trans-dscrt);
    &:popover-open {
        opacity: 1;
        @starting-style {
            opacity: 0;
        }
    }
    & > div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: opacity var(--trans-fade);
        @starting-style {
            opacity: 0;
        }
        & > section {
            width: 100%;
            anchor-name: --closeX;
        }
        & > section > button:first-of-type {
            position: fixed;
            position-anchor: --closeX;
            bottom: anchor(--closeX top);
            right: anchor(--closeX right);
            margin: 0 20px 10px 0;
            background-color: transparent;
            cursor: pointer;
            border: 0;
            outline: none;
            & > p {
                font-size: 2rem;
                color: var(--clr-gray);
                transition: font-weight var(--trans-hvr), color var(--trans-hvr);
            }
            &:is(:hover, :focus) > p {
                font-weight: 900;
                color: var(--clr-font-hvr);
            }
        }
        & > section[class="reel"] {
            max-width: 1280px;
            & > video {
                width: 100%;
                max-width: 1280px;
                aspect-ratio: 16/9;
                outline: none;
            }
        }
        & > section[class="dump"] {
            max-width: 400px;
            & > h2 {
                font-size: 2.2rem;
            }
            & > p {
                line-height: 150%;
                letter-spacing: 1px;
                word-spacing: 2px;
            }
            & button:last-child { 
                background-color: transparent;
                border: 0;
                outline: none;
                & > a {
                    letter-spacing: 1px;
                    word-spacing: 2px;
                    transition: font-weight var(--trans-hvr), color var(--trans-hvr);
                }
                &:is(:hover, :focus) > a {
                    font-weight: 900;
                    color: var(--clr-font-hvr);
                }
            }
        }
        & > section[class="portfolio"] {
            max-width: 1920px;
            margin: 100px 0;
            overflow-x: hidden;
            overflow-y: scroll;
            scrollbar-color: var(--clr-gray) transparent;
            & > div {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
                gap: 0px;
                & > div {
                    position: relative;
                    overflow: hidden;
                    aspect-ratio: 1 / 1;
                    cursor: pointer;
                    & > a {
                        position: absolute;
                        inset: 0;
                        display: block;
                        & > img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: block;
                            opacity: 1;
                            transition: transform var(--trans-hvr2), filter var(--trans-hvr2), opacity var(--trans-hvr2);
                        }
                        & div {
                            position: absolute;
                            inset: 0;
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: center;
                            align-items: center;
                            pointer-events: none;
                            & > p {
                                opacity: 0;
                                filter: blur(10px);
                                transition: transform var(--trans-hvr2), filter var(--trans-hvr2), opacity var(--trans-hvr2);
                                &:nth-child(1) {
                                    font-size: 1rem;
                                    line-height: 300%;
                                    letter-spacing: 2px;
                                    word-spacing: 2px;
                                    transform: translateX(-30px);
                                }
                                &:is(:nth-child(2), :nth-child(3)) {
                                    font-size: 0.7rem;
                                    line-height: 150%;
                                    letter-spacing: 1px;
                                    word-spacing: 2px;
                                    transform: translateY(15px);
                                }
                            }
                        }
                    }
                    &:hover img {
                        transform: scale(1.15);
                        filter: blur(10px);
                        opacity: 0.05;
                    }
                    &:hover div > p:nth-child(1) {
                        opacity: 1;
                        transform: translateY(0);
                        filter: blur(0);
                    }
                    &:hover div > :is(:nth-child(2), :nth-child(3)) {
                        opacity: 0.5;
                        transform: translateY(0);
                        filter: blur(0);
                    }
                }
            }
        }
        & > section[class="contact"] {
            max-width: 960px;
            & > form {
                width: 100%;
                padding: 15px;
                border: 1px solid var(--clr-gray);
                overflow: hidden;
                & > textarea {
                    margin: 15px 0;
                    height: 150px;
                }
                & > :is(input, textarea) {
                    width: 100%;
                    padding: 15px;
                    background-color: transparent;
                    border: 1px solid transparent;
                    border-left: 1px solid var(--clr-gray);
                    resize: vertical;
                    overflow: hidden;
                    outline: none;
                    transition: border var(--trans-hvr);
                    &:is(:hover, :focus) {
                        border: 1px solid var(--clr-gray);
                    }
                    &:required {
                        letter-spacing: 1px;
                        word-spacing: 2px; 
                    }
                }
                & > button {
                    width: 100%;
                    padding: 15px;
                    background-color: transparent;
                    border: 1px solid var(--clr-gray);
                    overflow: hidden;
                    cursor: pointer;
                    outline: none;
                    transition: color var(--trans-hvr), border var(--trans-hvr);
                    &:is(:hover, :focus) {
                        color: var(--clr-font-hvr);
                        border: 1px solid var(--clr-font-nrml);
                        & > p {
                            color: var(--clr-font-hvr);
                        }
                    }
                    & > p {
                        letter-spacing: 1px;
                        word-spacing: 2px;
                        transition: color var(--trans-hvr);
                    }
                }
            }
        }
    }
}
@keyframes bg {
    0% { color: var(--clr-bg); }
    10% { color: var(--clr-gray); }
    100% { color: var(--clr-bg); }
}
@keyframes h1 {
    0% { color: var(--clr-bg); letter-spacing: 7rem; }
    50% { color: var(--clr-font-bg); }
    100% { color: var(--clr-font-nrml); letter-spacing: 1rem; }
}
@keyframes navi {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@media (max-width: 480px) {
    main:after {
        font-size: 120vh;
    }
    main > header {
        height: 100%;
        justify-content: flex-end;
    }
    main > div {
        margin: 30px 0;
    }
    main > nav {
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }
    main > nav > button {
        width: 70%;
        min-height: 48px;
    }
    main > nav > button[commandfor="contact"] {
        border-bottom: 1px solid var(--clr-gray);
    }
}