/* ====================================================================================================
	ROOT VARIABLES
==================================================================================================== */
:root {
	--clr-bg: #111111;
	--clr-gray: #404040;
	--clr-font-nrml: #aaaaaa;
	--clr-font-hvr: #ffffff;

	--ani-gang: 2s cubic-bezier(1,0,1,1) 1.5s forwards;
	--ani-eyes: 5s ease 1.5s forwards;
	--ani-dust-a: 12s linear 6s infinite forwards;
	--ani-dust-b: 8s linear 3s infinite forwards;
	--ani-logo: 1s cubic-bezier(1,0,1,1) 0.5s forwards;
	--ani-dvdr: 1.5s cubic-bezier(1,0,1,1) 0s forwards;
	--ani-navi: 1s cubic-bezier(1,0,1,1) 0.5s forwards;
	--ani-reel: 1.5s ease 0s forwards;
	--ani-video: 2s cubic-bezier(1,0,1,1) 1s forwards;
	--ani-bttnC: 3s ease-out 0s forwards;
	--ani-cntct: 1s ease-out 0s forwards;
	--ani-bttnL: var(--ani-cntct);
	--ani-bttnR: var(--ani-cntct);
}
/* ====================================================================================================
	FONT
==================================================================================================== */
@font-face {
	font-family: federo;
	src: url("../font/federo.ttf");
	font-display: swap;
}
/* ====================================================================================================
	BASE RESET
==================================================================================================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'federo', sans-serif;
	font-style: italic;
	color: var(--clr-font-nrml);
	outline: none;
}
html {
	background: var(--clr-bg);
	scroll-behavior: smooth;
}
body {
	overflow: hidden;
	text-align: center;
}
/* ====================================================================================================
	TYPOGRAPHY
==================================================================================================== */
.text_large {
	font-size: 80px;
}
.text_medium {
	font-size: 12px;
}
a {
	color: var(--clr-font-nrml);
	text-decoration: none;
}
a:hover {
	color: var(--clr-font-hvr);
}
/* ====================================================================================================
	BG
==================================================================================================== */
#bg > div {
	position: fixed;
	width: 100%;
	height: 100vh;
	height: 100dvh;
	opacity: 0;
}
.gang {
	background: url(../img/gang.png) center no-repeat;
	animation: gang var(--ani-gang);
}
.eyes {
	background: url(../img/eyes.png) center no-repeat;
	animation: eyes var(--ani-eyes);
}
.dust {
	background: url(../img/dust.png) center no-repeat;
}
.a {
	animation: dust_a var(--ani-dust-a);
}
.b {
	animation: dust_b var(--ani-dust-b);
}
@keyframes gang {
	0% {
						opacity: 0;
	}
	100% {
						opacity: 1;
	}
}
@keyframes eyes {
	0% {
						opacity: 0;
						filter: blur(5px);
	}
	10% {
						opacity: 1;
	}
	100% {
						opacity: 0.5;
						filter: blur(0px);
	}
}
@keyframes dust_a {
	0% {
						opacity: 0;
						transform: scale(0.9);
						filter: blur(0px);
	}
	50% {
						opacity: 1;
						filter: blur(0px);
	}
	100% {
						opacity: 0;
						transform: scale(1);
						filter: blur(10px);
	}
}
@keyframes dust_b {
	0% {
						opacity: 0;
						transform: scale(-0.95,0.6);
						filter: blur(0px);
	}
	50% {
						opacity: 1;
						filter: blur(0px);
	}
	100% {
						opacity: 0;
						transform: scale(-1,1);
						filter: blur(5px);
	}
}
/* ====================================================================================================
	BASE
==================================================================================================== */
#base {
	position: fixed;
	width: 100%;
	height: 100vh;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
/* ====================================================================================================
	LOGO
==================================================================================================== */
#logo {
	background-image: url("../img/000-logo.png");
	background-position: center bottom;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0;
	cursor: default;
	animation: logo var(--ani-logo);
}
@keyframes logo {
	0% {
						letter-spacing: 30px;
						opacity: 0;
	}
	100% {
						letter-spacing: 8px;
						opacity: 1;
	}
}
/* ====================================================================================================
	DIVIDER
==================================================================================================== */
#divider {
	height: 1px;
	margin: 5px 0px 10px;
	background-color: var(--clr-font-nrml);
	animation: divider var(--ani-dvdr);
}
@keyframes divider {
	0% {
						width: 100%;
						opacity: 0;
	}
	50% {
						opacity: 0.3;
	}
	100% {
						width: 10%;
						opacity: 0;
	}
}
/* ====================================================================================================
	NAVI
==================================================================================================== */
#navi {
	white-space: nowrap;
	opacity: 0;
	animation: navi var(--ani-navi);
}
@keyframes navi {
	0% {
						letter-spacing: 30px;
						opacity: 0;
	}
	100% {
						letter-spacing: 5px;
						opacity: 1;
	}
}
/* ====================================================================================================
	REEL
==================================================================================================== */
#reel {
	border: 1px solid var(--clr-gray);
	position: fixed;
	width: 100%;
	max-width: 1280px;
	padding: 15px;
	background-color: rgb(17 17 17 / 70%);
	overflow: hidden;
	transform: scale(1,0);
}
#reel:target {
	animation: reel var(--ani-reel);
}
#reel:target .video {
	animation: video var(--ani-video);
}
#reel:target #button_center {
	animation: bttnC var(--ani-bttnC);
}
.video {
	width: 100%;
	aspect-ratio: 16/9;
	opacity: 0;
}
@keyframes reel {
	0% {
						transform: scale(1,0);
						backdrop-filter: blur(0px);
	}
	100% {
						transform: scale(1);
						backdrop-filter: blur(5px);
	}
}
@keyframes video {
	0% {
						opacity: 0;
	}
	100% {
						opacity: 1;
	}
}
@keyframes bttnC {
	0% {
						width: 70%;
	}
	100% {
						width: 50%;
	}
}
#button_center {
	width: 70%;
	margin-top: 10px;
}
/* ====================================================================================================
	CONTACT
==================================================================================================== */
#contact {
	position: fixed;
	border: 1px solid var(--clr-gray);
	width: 100%;
	max-width: 666px;
	height: auto;
	padding: 15px;
	overflow: hidden;
	background-color: rgb(17 17 17 / 70%);
	transform: scale(1,0);
}
#contact:target {
	animation: cntct var(--ani-cntct);
}
#contact:target #button_left {
	animation: bttnL var(--ani-bttnL);
	transform-origin: center;
}
#contact:target #button_right {
	animation: bttnR var(--ani-bttnR);
	transform-origin: center;
}
@keyframes cntct {
	0% {
						transform: scale(1,0);
						backdrop-filter: blur(0px);
	}
	100% {
						transform: scale(1);
						backdrop-filter: blur(5px);
	}
}
@keyframes bttnL {
	0% {
						width: 35%;
	}
	100% {
						width: 69%;
	}
}
@keyframes bttnR {
	0% {
						width: 15%;
	}
	100% {
						width: 29%;
	}
}
textarea {
	margin: 15px 0px;
}
input[type="email"],
textarea {
	width: 100%;
	padding: 15px;
	background-color: transparent;
	border: 1px solid transparent;
	border-left: 1px solid var(--clr-gray);
	font-size: 15px;
	resize: vertical;
	overflow: hidden;
}
input[type="email"]:hover,
input[type="email"]:focus,
textarea:hover,
textarea:focus {
	border: 1px solid var(--clr-gray);
}
#button_left {
	float: left;
}
#button_right {
	float: right;
}
.button {
	padding: 15px;
	background-color: transparent;
	border: 1px solid var(--clr-gray);
	font-size: 15px;
	overflow: hidden;
}
.button:hover {
	color: var(--clr-font-hvr);
	border: 1px solid var(--clr-font-nrml);
}
/* ====================================================================================================
	MISC
==================================================================================================== */
#logo, #divider, #navi, #reel, #contact, .bg, .eyes, .dust, .a, .b {
    will-change: opacity, transform;
}
