@font-face {
  font-family: federo;
  src: url(../font/federo.woff2) format('woff2');
  font-display: optional;
}

:root {
  --clr-07:  hsl(0, 0%, 7%);
  --clr-20:  hsl(0, 0%, 20%);
  --clr-55:  hsl(0, 0%, 55%);
  --clr-100: hsl(0, 0%, 100%);
  --transition-ui: 0.3s ease;
  --transition-btn: .6s cubic-bezier(.25, .8, .25, 1);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    transition: none !important;
    animation: none !important;
  }
}

html, body {
  width: 100%;
  background: var(--clr-07);
}

.flex-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.folio {
  width: min(1920px, 100%);
}

.folio .folio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(360px, 100%), 1fr));
}





button {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 1;
  cursor: pointer;
  font-style: italic;
  font-weight: 400;
  font-family: federo;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: var(--clr-55);
  user-select: none;
  transition: all var(--transition-btn);
}
button:hover,
button:focus-visible {
  outline-style: solid;
  outline-color: hsla(0, 0%, 100%, 0.5);
  outline-width: 1px;
  outline-offset: -15px;
}
button img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all var(--transition-btn);
}
button:hover img,
button:focus-visible img {
  transform: scale(1.15);
  filter: blur(10px);
  opacity: .05;
}
button p.title {
  font-size: 1.1rem;
  line-height: 2.5;
  transform: translateX(-30px);
  filter: blur(10px);
  opacity: 0;
  transition: all var(--transition-btn);
}
button p.info {
  font-size: 0.7rem;
  line-height: 1.5;
  white-space: pre-wrap;
  text-align: center;
  transform: translateY(15px);
  filter: blur(10px);
  opacity: 0;
  transition: all var(--transition-btn);
}
button:hover p.title,
button:focus-visible p.title {
  opacity: 1;
  transform: none;
  filter: none;
}
button:hover p.info,
button:focus-visible p.info {
  opacity: .5;
  transform: none;
  filter: none;
}